html, body, *, *::before, *::after {
    color: var(--c-white);
}

nav, main, footer {
    width: 100%;
}

/*
.parallax-mirror {
    filter: contrast(0.8) brightness(0.9);
}
*/

nav {
    position: fixed;
    top: 0;
    z-index: 3;
}

#navigation-desktop {
    overflow: hidden;
    width: 100%;
    height: var(--l-nav-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-primary);
    border-bottom: 3px solid var(--c-vanilla);
    /*
    background: var(--c-red-logo);
    background: linear-gradient(90deg, var(--c-red-logo) 0%, var(--c-red-logo) 80%, var(--c-red) 100%);
    */
}

#navigation-desktop div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#navigation-desktop .logo {
    z-index: 1;
}

#navigation-desktop .logo img {
    height: var(--l-nav-size);
}

/*
#navigation-desktop .logo::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: var(--c-green-logo);
    background: linear-gradient(90deg, var(--c-green) 0%, var(--c-green-logo) 80%, var(--c-green-logo) 100%);
    width: 40vw;
    height: var(--l-nav-size);
    z-index: -1;
}
*/

#navigation-desktop a {
    font-weight: 700;
    font-style: normal;
    position: relative;
    z-index: 1;
    transition: all .2s ease-in-out;
    color: var(--c-white);
}

#navigation-desktop a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--c-vanilla);
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
}

#navigation-desktop a:hover {
    color: var(--c-vanilla);
}

#navigation-desktop a:hover::after {
    width: 100%;
    opacity: 1;
}

#navigation-mobile {
    overflow: hidden;
    width: 100%;
    height: var(--l-nav-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: 1fr;
    background-color: var(--c-primary);
    border-bottom: 3px solid var(--c-vanilla);
    padding: 0 2rem;
}

#navigation-mobile .logo {
    display: flex;
    align-items: center;
}

#navigation-mobile .logo img {
    height: var(--l-nav-size);
}

#nav-button {
    background-color: transparent;
}

#nav-button img {
    width: 2rem;
    height: 2rem;
}

#navigation-mobile-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    background-color: var(--c-white-transparent);
    max-height: 0;
    overflow: hidden;
}

#navigation-mobile-dropdown div {
    padding: 1.5rem;
}

#navigation-mobile-dropdown.opened {
    max-height: 230px;
    overflow: hidden;
}

#navigation-mobile-dropdown a {
    font-weight: 400;
    font-style: italic;
    font-size: 1.1rem;
    padding: 3px 5px;
    background-color: var(--c-red);
    box-shadow: 3px 3px #923b30;
    text-align: center;
    width: fit-content;
}

main {
    margin-top: var(--l-nav-size);
    z-index: 2;
    position: relative;
}

main > div {
    width: 100%;
    min-height: calc(100vh - var(--l-nav-size));
    scroll-margin-top: var(--l-nav-size);
    display: flex;
    justify-content: center;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(7px);
    padding: 3rem;
}

.section.start {
    animation: fadeInAnimation ease-in-out 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section.clear {
    backdrop-filter: unset !important;
}

.section-block {
    padding: 1.5rem;
    box-sizing: content-box;
    background-color: var(--c-primary);
    position: relative;
    box-shadow: 5px 5px var(--c-primary-dark);
}

.section-block h2 {
    padding: 3px 0;
    margin-bottom: 6px;
}

.personnel-text {
    margin: 0.6rem 0 3px;
    font-weight: 700;
    font-style: normal;
}

.contact {
    margin: 0.9rem 0 0;
    font-weight: 700;
    font-style: normal;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 20px);
    grid-column-gap: 0;
    grid-row-gap: 7px;
}

.contact p {
    margin: 9px 0;
    gap: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.contact a {
    text-decoration: underline;
}

.contact img {
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
}

/*
.section:hover {
    backdrop-filter: blur(0) saturate(1);
}

.section > * {
    opacity: 1;
    transition: all ease-in-out .3s;
}

.section:hover > * {
    opacity: 0.1;
}
*/

#start p {
    color: var(--c-white)
}

h1 {
    font-weight: 700;
    font-style: normal;
    position: relative;
    display: inline-flex;
    color: var(--c-white);
}

h1::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 4px;
    height: 3px;
    background-color: var(--c-white);
    border-radius: 50%;
}

.page-detail {
    margin-block: 1rem;
    max-width: 50ch;
    text-shadow: 1px 1px var(--c-black);
}

span.italy-text {
    color: var(--c-white);
    border-bottom: 2px solid var(--c-white);
    position: relative;
}

span.italy-text::before, span.italy-text::after {
    content: '';
    height: 2px;
    width: 33%;
    position: absolute;
    bottom: -2px;
}

span.italy-text::before {
    background-color: var(--c-green-logo);
    left: 0;
}

span.italy-text::after {
    background-color: var(--c-red-logo);
    right: 0;
}


h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.6rem;
    padding: 3px 5px;
    position: relative;
    display: inline-flex;
    text-align: center;
    background-color: var(--c-red);
    box-shadow: 3px 3px #923b30;
}

#menu-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    margin-top: 3rem;
    font-size: 0.8rem;
}

h3 {
    font-weight: 400;
    width: 100%;
    font-style: italic;
    margin: 1rem 0 0.5rem;
    border-bottom: 1px solid var(--c-black);
}

.menu-column {
    background-color: var(--c-primary);
    width: 100%;
    flex: 1 1 300px;
    padding: 0 1.5rem;
    box-shadow: 5px 5px var(--c-primary-dark);
    position: relative;
}

.menu-column::before, .menu-column::after, .section-block::before, .section-block::after {
    content: '';
    height: 100%;
    width: 0.8rem;
    background: var(--c-vanilla-transparent);
    position: absolute;
    top: 0;
}

.menu-column::before, .section-block::before {
    left: 0;
}
.menu-column::after, .section-block::after {
    right: 0;
}

.menu-column div {
    display: flex;
    justify-content: space-between;
    margin-block: 9px;
}

.menu-column h4, .menu-column p {
}

.menu-column p {
    font-weight: 400;
    font-style: italic;
}

#gallery-wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

footer {
    background-color: var(--c-black);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

footer p {
    color: var(--c-white);
}

#footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
}

.creators {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 20px);
    grid-column-gap: 0;
    grid-row-gap: 7px;
    text-align: right;
}